@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #ebf4f6;
  overflow-x: hidden;
  transition: all 200ms linear;
  height: 100%;
  width: 100%;
  margin: 0;
}
/* SCROLLBAR */
#style-5::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-5::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-5::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: --webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}
  .search{
    margin-bottom: auto;
    margin-top: auto;
    height: 70px;
    background-color: #fff;
    border-radius: 40px;
    padding: 10px;
    }

    .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .search .search_input{
    padding: 0 10px;
    width: 550px;
    caret-color:rgb(0, 24, 97);
    transition: width 0.4s linear;
    }
    
    .search:hover > .search_icon{
    background: rgb(16, 58, 184);
    color: #fff;
    }

    .search_icon{
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    background-color:rgb(0, 24, 97);
    }
    
a:link{
    text-decoration:none;
}    

/*======================================
    Find Job CSS
========================================*/
.find-job {
  background-color: #f6f9fc;
  padding-top: 120px;
}

.find-job .section-title {
  margin-bottom: 50px;
}

.find-job.job-list {
  padding-top: 70px;
}

.find-job .single-job {
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #fff;
}
.card-a a {
  color: black;
  text-decoration: none;
}

.card-a  a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}
.find-job .single-job .job-image {
  position: absolute;
  left: 40px;
  top: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin-top: -25px;
}

.find-job .single-job .job-content {
  position: relative;
}

.find-job .single-job .job-content h4 {
  position: relative;

}

.find-job .single-job .job-content h4 a {
  font-size: 18px;
  font-weight: 500;
  color: #081828;

}

.find-job .single-job .job-content h4 a:hover {
  color: #2042e3;
}

.find-job .single-job .job-content p {
  display: inline-block;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
}

.find-job .single-job .job-content ul {
  margin-top: 20px;
  padding-left: 0;
}

.find-job .single-job .job-content ul li {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
  margin-right: 3px;
  position: relative;
  background: #2042e314;
  color: #2042e3;
  padding: 5px 10px;
  border-radius: 3px;
}

.find-job .single-job .job-content ul li:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.find-job .single-job .job-content ul li i {
  font-size: 13px;

  margin-right: 3px;
}

.find-job .single-job .job-content ul li a {
  color: #777;
}

.find-job .single-job .job-content ul li a:hover {
  color: rgb(0, 24, 97);
}

.find-job .single-job .job-button {
  position: absolute;
  right: 40px;
  top: 40px;
}

.find-job .single-job .job-button ul li {
  display: inline-block;
}

.find-job .single-job .job-button ul li a {
  padding: 5px 20px;
  border: 1px solid #eee;
  color: #081828;
  border-radius: 4px;
  font-size: 13px;
  text-transform: capitalize;
}

.find-job .single-job .job-button ul li a:hover {
  color: #fff;
background-color: rgb(0, 24, 97)!important;
  border-color: transparent;
}
span {
  padding: 5px 20px;
background-color: rgb(0, 24, 97)!important;
  color: #fff;
  border-radius: 4px;
  font-size: 13px;
  text-transform: capitalize;
}

.find-job .search-job .search-nner {
  padding: 30px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 6px;
}
@media (max-width: 990px) { /* Adjust the max-width as needed for your breakpoints */
   .find-job .search-job .search-nner input{
      margin-top: 10px;
      
  }
  .find-job .search-job .search-nner button{
    margin-top: 10px;
    
}
}

.find-job .search-job .search-nner input {
  height: 50px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 4px;
  font-size: 14px;
  color: #081828;
  padding: 0px 20px;
}

.find-job .search-job .search-nner .button .btn{
  width: 100%;
  padding: 0.7em 1.8em;
  border: 2px solid rgb(0, 24, 97);
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: inherit;
  color: rgb(0, 24, 97);
  cursor: pointer;

}
.find-job .search-job .search-nner .btn:hover {
  background-color: rgb(0, 24, 97);
  color: #ffffff;
}
.position-relative {
  position: relative;
}

.status-span {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 5px 20px;
background-color: rgb(0, 24, 97)!important;
  color: #fff;
  font-size: 11px;
  text-transform: capitalize;
}

@media (max-width: 767.98px) { /* Adjust the max-width as needed for your breakpoints */
  .status-span {
      position: static;
      margin-top: 10px;
      
  }
}
.card-a{
  text-decoration: none;
}
/* Pagination CSS */
.pagination {
  text-align: left;
  margin: 40px 0 0 0;
}

.pagination .pagination-list li {
  margin-right: 5px;
  display: inline-block;
  
}

.pagination .pagination-list li:last-child {
  margin-right: 0px;

}

.pagination .pagination-list li a {
  background: #fff;
  color: #081828;
  font-weight: 500;

  border-radius: 0;
  line-height: 40px;

  text-align: center;
  border-radius: 4px;

  padding: 10px
}

.pagination .pagination-list li.active a,
.pagination .pagination-list li:hover a {
  background-color: rgb(0, 24, 97)!important;
  color: #fff;
  border-color: transparent;
}

.pagination .pagination-list li a i {
  font-size: 13px;
}

.pagination-md-center {
  text-align: center !important;
}

.text-secondary{
  font-size: 12px;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus,input[type=file]:focus{
  background-color: lightblue !important;
}
