@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}
body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #ebf4f6;
  overflow-x: hidden;
  transition: all 200ms linear;
  height: 100%;
  width: 100%;
  margin: 0;
}


/* #Navigation
================================================== */
header .navigation-wrap {
    background-color: rgb(0, 24, 97) !important;
  }
  
  .start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 10px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: rgb(0, 24, 97);
  }
  .start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 5px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: rgb(0, 24, 97);
  }
  .start-header.scroll-on .navbar-brand img {
    height: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: rgb(0, 24, 97) !important;
  }
  .navbar-brand img {
    height: 40px;
    width: auto;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
  }
  .navbar-light .navbar-toggler-icon:after,
  .navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
  }
  .navbar-light .navbar-toggler-icon:after {
    top: 8px;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
  }
  .nav-link {
    color: #fff !important;
    font-weight: 500;
    transition: all 200ms linear;
  }
  .nav-item:hover .nav-link {
    color: #8167a9 !important;
  }
  .nav-item.active .nav-link {
    color: #777 !important;
  }
  .nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
  }
  .nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #8167a9;
    opacity: 0;
    transition: all 200ms linear;
  }
  .nav-item:hover:after {
    bottom: 0;
    opacity: 1;
  }
  .nav-item.active:hover:after {
    opacity: 0;
  }
  .nav-item {
    position: relative;
    transition: all 200ms linear;
  }
  
  /* #Primary style
  ================================================== */
  
  .bg-light {
    transition: all 200ms linear;
  }
  .section {
    position: relative;
    width: 100%;
    display: block;
  }
  .full-height {
    height: 100vh;
    background-color: red;
  }
  .over-hide {
    overflow: hidden;
  }
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: 40px;
    transform: translateY(-50%);
    z-index: 20;
  }
  body.hero-anime p {
    opacity: 0;
    transform: translateY(40px);
    transition-delay: 1700ms;
  }
  
  .navbar-custom {
    background-color: #8167a9;
  }
  
  /* #Media
  ================================================== */
  
  @media (max-width: 767px) {
    h1 {
      font-size: 38px;
    }
    .nav-item:after {
      display: none;
    }
    .nav-item::before {
      position: absolute;
      display: block;
      top: 15px;
      left: 0;
      width: 11px;
      height: 1px;
      content: "";
      border: none;
      background-color: #000;
    }
    .dropdown-toggle::after {
      position: absolute;
      display: block;
      top: 10px;
      left: -23px;
      width: 1px;
      height: 11px;
      content: "";
      border: none;
      background-color: #000;
      transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after {
      transform: rotate(90deg);
      opacity: 0;
    }
    .dropdown-menu {
      padding: 0 !important;
      background-color: transparent;
      box-shadow: none;
      transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
      margin-top: 10px !important;
      margin-bottom: 20px !important;
    }
  }

  
/* SCROLLBAR */
#style-5::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-5::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-5::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: --webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

/* Job Description */
#job-title{
    margin-top: 150px;
    margin-bottom: 40px;
}

.heading {
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px auto 20px;
  background: #063ac9;
}
#job-title p{
  color: #4460ae;
}

.job-detail-description {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #868e96;
  font-size: 0.9rem;
  margin-bottom:0px;
}

.job-detail-description {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #868e96;
  font-size: 0.9rem;
}
.heading small {
  font-size: 1.4rem;
}
/*======================================
    Job Details CSS
========================================*/
.job-details {
  background-color: #f6f9fc;
}

.job-details .job-details-inner {
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #eee;
  background-color: #fff;
}

.job-details .job-details-head {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #EDEDED;
}

.job-details .job-details-head .content .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  color: #7E8890;
  display: block;
  margin-top: 10px;
}

.job-details .job-details-head .salary-type .salary-range {
  font-weight: 500;
  line-height: 1;
  display: block;
  margin-bottom: 8px;
  color: #7E8890;
}

.job-details .job-details-head .badge {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
  margin-right: 3px;
  position: relative;
  background: #2042e314;
  color: #2042e3;
  padding: 8px 12px;
  border-radius: 3px;
  font-weight: 400;
  display: inline-block;
  margin-top: 5px;
}

.job-details .job-details-head li {
  display: inline-block;
  margin-right: 15px;
}

.job-details .job-details-head li i {
  color: #2042e3;
}

.job-details .job-details-head li:last-child {
  margin-right: 0;
}

.job-details .job-details-head li a {
  color: #2042e3;
  font-weight: 500;
}

.job-details .job-details-head li a:hover {
  text-decoration: underline;
}

.job-details .job-details-body h6 {
  font-size: 20px;
}

.job-details .job-details-body p {
  margin: 20px 0;
}

.job-details .job-details-body ul {
  margin-left: 10px;
}

.job-details .job-details-body ul li {
  display: block;
  margin-bottom: 8px;
  position: relative;
  padding-left: 15px;
}

.job-details .job-details-body ul li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  height: 6px;
  width: 6px;
  display: block;
  border-radius: 50%;
  background-color: #2042e3;
}

.job-details .job-details-body ul li:last-child {
  margin-bottom: 0;
}

.job-details .job-details-sidebar .sidebar-widget {
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #eee;
  background-color: #fff;
  margin-bottom: 30px;
}

.job-details .job-details-sidebar .sidebar-widget:last-child {
  margin-bottom: 0;
}

.job-details .job-details-sidebar .sidebar-widget .title {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1;
  position: relative;
  padding-left: 18px;
  font-weight: 600;
  line-height: 28px;
  text-transform: capitalize;
}

.job-details .job-details-sidebar .sidebar-widget .title::before {
  position: absolute;
  left: 0;
  top: 1px;
  height: 100%;
  width: 3px;
  background-color: #2042e3;
  content: '';
}

.job-details .job-details-sidebar .sidebar-widget .list-unstyled li {
  display: block;
  margin-bottom: 8px;
}

.job-details .job-details-sidebar .sidebar-widget .list-unstyled li strong {
  color: #081828;
  font-weight: 600;
  display: inline-block;
  margin-right: 2px;
}

.job-details .job-details-sidebar .sidebar-widget .list-unstyled li:last-child {
  margin-bottom: 0;
}
.job-details .job-details-inner {
  padding: 30px !important;
}
.job-details .job-details-inner {
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #eee;
  background-color: #fff;
}

.job-details .content {
  padding: 0 !important;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.job-details .company-logo {
  padding-left: 0 !important;
}
.job-details .title {
  display: block;
  margin-top: 10px;
}
.job-details .job-details-head .salary-type {
  -webkit-box-ordinal-group: 1 !important;
      -ms-flex-order: 0 !important;
          order: 0 !important;
}
.job-details .job-details-sidebar .sidebar-widget:first-child {
  margin-top: 30px !important;
}
.job-details .job-details-inner {
  margin-top: 30px !important;
}
button {
  padding: 0.8em 1.8em;
  border: 2px solid #2824f8;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: inherit;
  color: #2824f8;
  cursor: pointer;
  position: relative;
  width: 200px;/* Ensure any pseudo-elements are positioned relative to the button */
}

button:hover {
  background-color: #2824f8;
  color: #ffffff;
}