@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}
body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #ebf4f6;
  overflow-x: hidden;
  transition: all 200ms linear;
  height: 100%;
  width: 100%;
  margin: 0;
}
/* SCROLLBAR */
#style-5::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-5::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-5::-webkit-scrollbar-thumb {
  background-color: #0ae;

  background-image: --webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

/* Job Description */
#title{
    margin-top: 150px;
    margin-bottom: 40px;
}

.header {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 40px;
}
.header:after {
  content: " ";
  display: block;
  margin: 20px auto 20px;
  width: 200px;
  height: 2px;
  background: rgb(0, 24, 97);
}
.header-description {
  color: #868e96;
  font-size: 0.9rem;
  margin-bottom:0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.header-description .badge .featured-badge .badge-info{
  background-color: #063ac9;
}
.header small {
  font-size: 1.4rem;
}

.info-job {
  background-color: #f6f9fc;
}

.info-job .info-job-2 {
  padding: 40px;
  border-radius: 5px;
  background-color: #fff;
}

.info-job .job-details-head {
  margin-bottom: 30px;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 25px;
  z-index: 1;
  border-bottom: 1px solid #EDEDED;
}

.info-job .job-details-head .content .meta {
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  color: #7E8890;
  display: block;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
 
}

.info-job .job-details-head .salary-type .salary-range {
  display: block;
  margin-bottom: 8px;
  color: #7E8890;
  font-weight: 500;
  line-height: 1;
}

.info-job .job-details-head .badge {
  display: inline-block;
  position: relative;
  background: #2042e314;
  color: #2042e3;
  padding: 8px 12px;
  border-radius: 3px;
  font-weight: 400;
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  margin-bottom: 5px;
  margin-right: 3px;
}

.info-job .job-details-head li {
  display: inline-block;
  margin-right: 15px;
}

.info-job .job-details-head li i {
  color: #2042e3;
}

.info-job .job-details-head li:last-child {
  margin-right: 0;
}

.info-job .job-details-head li a {
  color: #2042e3;
  font-weight: 500;
}

.info-job .job-details-head li a:hover {
  text-decoration: underline;
}

.info-job .info-job-body h6 {
  font-size: 20px;
}

.info-job .info-job-body p {
  margin: 20px 0;
}

.info-job .info-job-body ul {
  margin-left: 10px;
}

.info-job .info-job-body ul li {
  display: block;
  margin-bottom: 8px;
  position: relative;
  padding-left: 15px;
}

.info-job .info-job-body ul li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  height: 6px;
  width: 6px;
  display: block;
  border-radius: 50%;
  background-color: rgb(0, 24, 97) !important;
}

.info-job .info-job-body ul li:last-child {
  margin-bottom: 0;
}

.info-job .sidebar .sidebar-body{
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #eee;
  background-color: #fff;
  margin-bottom: 30px;
}

.info-job .sidebar .sidebar-body:last-child {
  margin-bottom: 0;
}

.info-job .sidebar .sidebar-body.title {
  font-weight: 500;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1;
  position: relative;
}

.info-job .info-job-2 {
  padding: 30px !important;
}
.info-job .info-job-2 {
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #eee;
  background-color: #fff;
}

.info-job .content {
  padding: 0 !important;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.info-job .company-logo {
  padding-left: 0 !important;
}
.info-job .title {
  display: block;
  margin-top: 10px;
}
.info-job .job-details-head .salary-type {
  -webkit-box-ordinal-group: 1 !important;
      -ms-flex-order: 0 !important;
          order: 0 !important;
}
.info-job .sidebar .sidebar-body:first-child {
  margin-top: 30px !important;
}
.info-job .info-job-2 {
  margin-top: 30px !important;
}
.info-job button {
  width: 200px;/* Ensure any pseudo-elements are positioned relative to the button */
  padding: 0.8em 1.8em;
  border: 2px solid rgb(0, 24, 97);
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: inherit;
  color: rgb(0, 24, 97);
  cursor: pointer;
  position: relative;

}
.apply-button:hover{
  background-color: rgb(0, 24, 97) !important;
}
button:hover {
  background-color: rgb(0, 24, 97);
  color: #ffffff;
}


.more-jobs .badge {
  padding: 5px 8px;
  border-radius: 3px;
  letter-spacing: 0.5px;
  font-size: 10px;
}


.more-jobs .btn {
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  font-weight: 600;
  border-radius: 5px;
}
.more-jobs .btn-primary {
  background-color: rgb(0, 24, 97) !important;
  color: #fff !important;
}

.more-jobs a {
  text-decoration: none;
}

.badge-info{
  background-color: rgb(0, 24, 97) !important;
}

.indented{
  text-indent: 50px;
}