
.heading {
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px auto 20px;
  background: #ff7473;
}

.job-detail-description {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #868e96;
  font-size: 0.9rem;
  margin-bottom:0px;
}


.blockquote {
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  border-left: 5px solid #ff7473;
}
.blockquote p:last-child {
  margin-bottom: 0;
}
.blockquote-footer {
  color: #868e96;
}
.blockquote-footer::before {
  content: "\2014 \00A0";
}

.job-detail-description {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #868e96;
  font-size: 0.9rem;
}
.job-detail__company-description {
  color: #868e96;
}
.job-detail__social {
  text-align: left !important;
  padding: 20px 0;
}
.job-detail__apply-bottom {
  margin-top: 40px;
}

.heading small {
  font-size: 1.4rem;
}
.social--outline a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid #ff7473;
  text-align: center;
  padding: 0;
  display: inline-block;
  margin-right: 10px;
}
.social--outline a.link {
  color: #871aff;
  border-color: #871aff;
}
.social--outline a.twitter {
  color: #3cf;
  border-color: #3cf;
}
.social--outline a.facebook {
  color: #4460ae;
  border-color: #4460ae;
}
@media (max-width: 991px) {
  .job-listing {
    font-size: 0.85rem;
  }
}